@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* src/App.css */
.bg-light {
    background-color: #ffffff;
    color: #000000;
}

.bg-dark {
    background-color: #333333;
    color: #ffffff;
}