/* Target the input's border and text color */
.custom-search .ant-input {
    /* border-color: #ff4c30 !important; */
    /* Change input border color */
    color: #ff4c30 !important;
    /* Change input text color */
    padding: 8px 0;
}

/* Target the search button's background and border color */
.custom-search .ant-btn-primary {
    background-color: #ff4c30 !important;
    /* Change button background color */
    border-color: #ff4c30 !important;
    /* Change button border color */
    padding: 8px 16px;
}

/* Optional: Change the color of the button text */
.custom-search .ant-btn-primary span {
    color: #ffffff !important;
    /* Change button text color */
}